<nav class="navbar navbar-default" >
  <div align="center" class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div align="center">
      
      <a id="webtitle" href="#" >I really really hate Mam junifer</a>
    </div>
  </div><!-- /.container-fluid -->
</nav>