$navbar-default-bg: black;

@import "bootstrap-sprockets";
@import "bootstrap";

#webtitle{
	font-size: 1.7em;
	color: red;
	text-transform: uppercase;
	letter-spacing: -1px;
	font-weight: bold;
}

body {
	background-image: asset-url('mamJuniferCropped.png');
	background-size: 150px;
}



